{% if customer.email and customer.metafields.custom.creator_page %}

<style>
#wv-creator-listings {
  padding: 1rem 0rem;
  position: relative;
}  
#wv-creator-listings .title {
  font-family: var(--main-heading-font-family);
  font-size: var(--main-heading-font-size);
}
#wv-creator-listings .listing-filters-links-container {
  position: absolute;
  top: 20px;
  right: 90px;
  display: flex;
  gap: 10px;
}
#wv-creator-listings .listing-filters-links-container button {
  padding: 4px 8px;
  cursor: pointer;
}
#wv-creator-listings .listing-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
#wv-creator-listings .listing-list .listing-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15px -10px black;
  position: relative;
  height: 180px;
  width: 180px;
  justify-content: flex-end;
  padding: 10px;
  border-radius: 5px;
  background-size: contain;
  cursor: pointer;
  /* background: url(https://cdn.shopify.com/s/files/1/0024/9551/2691/files/unkown-item.png?v=1752446617); */
  background-position: center;
  object-fit: cover;
  background-size: cover;
}
#wv-creator-listings .listing-list .listing-container img {
  height: 160px;
  position: absolute;
  top: 50%;
  width: fit-content;
  transform: translateY(-50%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  width: revert-layer;
  object-fit: cover;
}
#wv-creator-listings .listing-list .listing-container .listing-checkbox {
  position: absolute;
  top: 15px;
  left: 15px;
  transform: scale(2.1);
  cursor: pointer;
}
#wv-creator-listings .listing-list .listing-container h4,
#wv-creator-listings .listing-list .listing-container h5 {
  margin: 0;
  padding: 0;
  z-index: 2;
}
#wv-creator-listings .listing-list .listing-container h5 {
  font-size: 17px;
}
#wv-creator-listings .listing-list .listing-container h5 span {
  display: block !important;
  z-index: 2;
}
#wv-creator-listings .listing-list .listing-container h4 {
  font-size: 16px;
}
@media screen and (max-width: 580px) {
  #wv-creator-listings .listing-list {
    justify-content: center;
  }
}
</style>
  
<div id='wv-creator-listings'>
  <h1 class='title'>Current Listings</h1>

  {% comment %}
  <div class='listing-filters-links-container'>
    <a class='view-profile' href='{{ creator_page_url.url }}'><button>View profile</button></a>
    <button class='select-unselect-all'>Select all items</button>
  </div>
  {% endcomment %}

  <div class='listing-list'>
    {% assign products = customer.metafields.custom.products_sold_by_creator.value %}
    {% if products == blank or products.size == 0 %}
      <p>No products for sale yet.</p>
    {% else %}
        {% for product in products %}
          <a href='{{ product.url }}' class='listing-link'>
            <div class='listing-container'>
              <img height='160' width='160' src="{{ product.featured_image | image_url: width: 400 }}" alt="{{ product.title }}">
              <!-- <input type='checkbox' class='listing-checkbox' /> -->
              <h5>{{ product.price | money_without_trailing_zeros }}</h5>
              <h4>{{ product.title | slice: 0, 15 }}{% if product.title.size > 15 %}...{% endif %}</h4>
            </div>
            </a>
        {% endfor %}
    {% endif %}
  </div>
  
</div>
{% elsif customer %}
  {% render 'creator-signup-form' %}
{% else %}
  {% render 'creator-login-page' %}
{% endif %}
{% schema %}
  {
    "name": "WV Creator Listings",
    "settings": [],
    "presets": [
      {
        "name": "WV Creator Listings",
      }
    ]
  }
{% endschema %}